/* utilities */

:root {
    --green: #1ABC9C;
    --dark-blue: #2C3E50;
    --light-blue: #3A546D;
}

img {
    max-width: 100%;
}

.bg-green {
    background-color: var(--green);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}