header {
    background-color: var(--dark_blue);
}

.hero {
    background-color: #1ABC9C;
}

img {
    max-width: 100%;
}

.about {
    background-color: var(--green);
}



/* utilities */

:root {
    --green: #1ABC9C;
    --dark_blue: #2C3E50;
    --light-blue: #3A546D;
}



/* DEBUG */

.debu .col-12 {
    border: 2px solid black;
}